<HTML>

<head>
</head>

<body>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="../css/icon-font.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <div class="header-section" style="padding-left: 200px">
        <!-- top_bg -->
        <div class="top_bg">
            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/contact.html">help</a></li>
                        |
                        <li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/contact.html">Contact</a></li>
                        |
                        <li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/checkout.html">Delivery information</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <h2><span></span> Call us : 032 2352 782</h2>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- /top_bg -->
    </div>


   
   <center>
    <form method="POST" action="ajoutFournisseur.php">
      <br>
       <caption style="margin-bottom:100px;">Ajouter Un Fournisseur </caption>
        <table>
            <div class="form-group">
            <tr>
                <td>CIN</td>
                <td><input type="number" id="cin" name="cin" required class="form-control"></td>
                <td><span id="misscin"></span></td>
            </tr>
            </div>
            <div class="form-group">
            <tr>
                <td>Nom</td>
                <td><input type="text" name="nom" id="nom" required class="form-control"></td>
                <td><span id="missnom"></span></td>
            </tr>
            </div>
            <tr>
                <td>Prenom</td>
                <td><input type="text" name="prenom" id="prenom" required class="form-control"></td>
                <td><span id="missprenom"></span></td>
            </tr>
            <tr>
                <td>date de naissance   </td>
                <td><input type="date" name="datenaiss" required class="form-control"></td>
            </tr>
            <tr>
                <td>marque</td>
                <td><input type="text" name="marque" id="marque" required class="form-control"></td>
                <td><span id="missmarque"></span></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="text" name="email" id="email" required class="form-control"></td>
                <td><span id="missemail"></span></td>
            </tr>
            <tr>
                <td>Numéro de fournitures</td>
                <td><input type="text" name="numfournitures" id="numfournitures" required class="form-control"></td>
                <td><span id="numfournitures"></span></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="ajouter" id="bouton" value="ajouter" class="btn btn-danger" class="form-control" style="float:left;"></td>
            </tr>
            <tr>
                    <td>
                       
                    </td>
            </tr>
        </table>
    
    </form>
     
    </center>

    <div class="sidebar-menu">
                    <div class="logo">
                                        <a href="http://localhost/produit1/views/indexb.php"><img src="images/logo99.png" class="img-responsive" alt=""> </a>
                                    </div><br><br><br><br>
                    <header class="logo1">
                        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
                    </header>
                        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
                                    <ul id="menu" >
                                        <li><a href="http://localhost/produit1/views/indexb.php"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
                                          <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Gestion des Produits</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                           <ul id="menu-academico-sub" >
                                           <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/views/ajouterProduit.php">Ajouter Produit</a></li>
                                            <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/views/afficherProduit.php">Afficher Produits</a></li>
                                            
                                          </ul>
                                        </li>
                                         <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Gestion Catégories</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                           <ul id="menu-academico-sub" >
                                           <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/views/ajouterCategorie.php">Ajouter Categorie</a></li>
                                            <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/views/afficherCategorie.php">Afficher Catégorie</a></li>
                                            
                                          </ul>
                                        </li>
                                         <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Gestion des Marques</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                           <ul id="menu-academico-sub" >
                                           <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/nizar/backofficeee/views/ajoutMarque.html">Ajouter Marque</a></li>
                                            <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/nizar/backofficeee/views/afficherMarque.php">Afficher Marques</a></li>
                                            
                                          </ul>
                                        </li>
                                        <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Gestion des Fournisseurs</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                           <ul id="menu-academico-sub" >
                                           <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/nizar/backofficeee/views/ajoutFournisseur.html">Ajouter Fournisseur</a></li>
                                            <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/nizar/backofficeee/views/afficherFournisseur.php">Afficher Fournisseurs</a></li>
                                            
                                          </ul>
                                        </li>

                                        <li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span>Marketing</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                         <ul id="menu-academico-sub" >
                                            <li id="menu-academico-avaliacoes" ><a href="http://localhost/produit1/views/tabs.php">soldes</a></li>
                                            <li id="menu-academico-boletim" ><a href="http://localhost/produit1/views/calender.php">Evénements</a></li>


                                          </ul>
                                     </li>
                                 </ul></div>
   </div>
    <div class="fo-top-di" style="padding-left: 250px;margin-top:500px">
			<div class="foot-top">
				
					<div class="col-md-6 s-c">
						<li>
							<div class="fooll">
								<h1>follow us on</h1>
							</div>
						</li>
						<li>
							<div class="social-ic">
								<ul>
									<li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/index.html#"><i class="facebok"> </i></a></li>
									<li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/index.html#"><i class="twiter"> </i></a></li>
									<li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/index.html#"><i class="goog"> </i></a></li>
									<li><a href="https://p.w3layouts.com/demos/apr-2016/12-04-2016/gretong_admin_panel/web/index.html#"><i class="be"> </i></a></li>
										<div class="clearfix"></div>	
								</ul>
							</div>
						</li>
							<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 s-c">
						<div class="stay">
									<div class="stay-left">
										<form>
											<input type="text" placeholder="Enter your email" required="">
										</form>
									</div>
									<div class="btn-1">
										<form>
											<input type="submit" value="join">
										</form>
									</div>
										<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				
			</div>
</body>

<script>

	var formValid = document.getElementById('bouton');
            var id = document.getElementById('cin');
            var misscin = document.getElementById('misscin');
            var cinValid = /[0-9]/;
            
            formValid.addEventListener('click', validation);
            
            function validation(event){
                //Si le champ est vide
                if (cin.validity.valueMissing){
                    event.preventDefault();
                    misscin.textContent = 'cin manquant !';
                    misscin.style.color = 'red';
		
					
                //Si le format de données est incorrect
                }else if (cinValid.test(cin.value) == false){
                    event.preventDefault();
                    misscin.textContent = 'Format incorrect';
                    misscin.style.color = 'orange';
                }
            }
	var formValid = document.getElementById('bouton');
            var nom = document.getElementById('nom');
            var missnom = document.getElementById('missnom');
            var nomValid = /[A-Z-a-z]/;
            
            formValid.addEventListener('click', validation1);
            
            function validation1(event){
                //Si le champ est vide
                if (nom.validity.valueMissing){
                    event.preventDefault();
                    missnom.textContent = 'nom manquant !';
                    missnom.style.color = 'red';
                //Si le format de données est incorrect
                }else if (nomValid.test(nom.value) == false){
                    event.preventDefault();
                    missnom.textContent = 'Format incorrect';
                    missnom.style.color = 'orange';
					
                }else{ 
                }
				
            }
	var formValid = document.getElementById('bouton');
            var prenom = document.getElementById('prenom');
            var missprenom = document.getElementById('missprenom');
            var prenomValid = /[A-Z-a-z]/;
            
            formValid.addEventListener('click', validation2);
            
            function validation2(event){
                //Si le champ est vide
                if (prenom.validity.valueMissing){
                    event.preventDefault();
                    missprenom.textContent = 'Prénom manquant';
                    missprenom.style.color = 'red';
					
                //Si le format de données est incorrect
                }else if (prenomValid.test(prenom.value) == false){
                    event.preventDefault();
                    missprenom.textContent = 'Format incorrect';
                    missprenom.style.color = 'orange';
                }
            }
	var formValid = document.getElementById('bouton');
            var marque = document.getElementById('marque');
            var missmarque = document.getElementById('missmarque');
            var marqueValid = /[A-z-a-z]/;
            
            formValid.addEventListener('click', validation3);
            
            function validation3(event){
                //Si le champ est vide
                if (marque.validity.valueMissing){
                    event.preventDefault();
                    missmarque.textContent = 'marque manquante!';
                    missmarque.style.color = 'red';
                //Si le format de données est incorrect
                }else if (marqueValid.test(marque.value) == false){
                    event.preventDefault();
                    missmarque.textContent = 'Format incorrect';
                    missmarque.style.color = 'orange';
                }
            }
    
		var formValid = document.getElementById('bouton');
            var email = document.getElementById('email');
            var missemail = document.getElementById('missemail');
            var emailValid = /[a-z-A-Z]/;
            
            formValid.addEventListener('click', validation4);
            
            function validation4(event){
                //Si le champ est vide
                if (email.validity.valueMissing){
                    event.preventDefault();
                    missemail.textContent = 'email manquant!';
                    missemail.style.color = 'red';
                //Si le format de données est incorrect
                }else if (emailValid.test(email.value) == false){
                    event.preventDefault();
                    missemail.textContent = 'Format incorrect';
                    missemail.style.color = 'orange';
                }
            }
	
	</script>
</HTMl>